<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/style.css}" />
          <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Grade Student</title>
</head>
<body>

	<header th:insert="layout/navbar.html :: header"></header>
	
	<div style="padding-left: 16px">
		<h2>Grades have been assigned to this student!</h2>
		
		<p>Return to Grade a Course to input grades for another student.</p>
		
		<a href="CourseEnrolment.html"
								class="btn btn-primary mr-5 mb-3"
								th:href="@{/lecturer/gradecourse}">Return</a>
	</div>

</body>
</html>