<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Add Student</title>
</head>
<body>
	<header th:insert="layout/navbar.html :: header"></header>
	<div class="row">

		<div th:insert="layout/adminSidebar.html :: adminSidebar"
			class="col-2"></div>

		<div class="container">

			<h3>Update Student Information</h3>
			<hr>

			<p class="h4 mb-4">Save Student</p>

			<form th:action="@{/manageStudents/update}"
				th:object="${student}" method="POST">

				<!-- Add hidden form field to handle update -->
				<input type="hidden" th:field="*{id}"
					class="form-control mb-4 col-4" placeholder="Student ID"> <input
					type="hidden" th:field="*{studentNum}"
					class="form-control mb-4 col-4" placeholder="Student Number">

				<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First Name"th:required="required"> <input
					type="text" th:field="*{lastName}" class="form-control mb-4 col-4"
					placeholder="Last Name" th:required="required"> <input type="text"
					th:field="*{userName}" class="form-control mb-4 col-4"
					placeholder="Username" th:required="required"> <input type="text"
					th:field="*{userPassword}" class="form-control mb-4 col-4"
					placeholder="User Password" th:required="required"> <input type="date"
					th:field="*{enrollmentDate}" class="form-control mb-4 col-4"
					placeholder="Enrollment Date" th:required="required">

				<button type="submit" class="btn btn-info col-2">Save</button>

			</form>

			<hr>
			<a th:href="@{/manageStudents/adminStudent}">Back to Student List</a>

		</div>















	</div>

</body>
</html>