<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Manage Students</title>
</head>
<body>
	<header th:insert="layout/navbar.html :: header"></header>

	<div class="row">

		<div th:insert="layout/adminSidebar.html :: adminSidebar"
			class="col-2"></div>

		<div class="container">
			<div class="col-10">

				<h1>Manage Students Page</h1>
				<hr>

				<form th:action="@{/search}" class="form-inline">
					<a th:href="@{/manageStudents/adminAddStudent}"
						class="btn btn-primary mr-5 mb-3"> Add Student </a>

					<!--            <input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />-->

					<!--            <button class="btn btn-success mb-3" type="submit">Search</button>-->
				</form>

				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>No.</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Enrolment Date</th>
							<th>Action</th>
						</tr>
					</thead>


					<tbody>
						<tr th:each="tempstudents : ${listStudents}">

							<td th:text="${tempstudents.studentNum}" />
							<td th:text="${tempstudents.firstName}" />
							<td th:text="${tempstudents.lastName}" />
							<td th:text="${tempstudents.enrollmentDate}" />
							<td>
								<!-- Add "update" button/link --> <a
								th:href="@{/manageStudents/adminUpdateStudent(studentId=${tempstudents.id})}"
								class="btn btn-info btn-sm"> Update </a> <!-- Add "delete" button/link -->
								<a
								th:href="@{/manageStudents/delete(studentid=${tempstudents.id})}"
								class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete this Student?'))) return false">
									Delete </a>

							</td>
						</tr>
					</tbody>
				</table>

				<div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<td class="col-sm-2">Total Rows: [[${totalItems}]]
							&nbsp;&nbsp;&nbsp;</td>
						<td class="col-sm-1"><span
							th:each="i:${#numbers.sequence(1, totalPages)}"> <a
								th:if="${currentPage != i}"
								th:href="@{'/manageStudents/page/' + ${i}}">[[${i}]]</a> <span
								th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						</span></td>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>