<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>Welcome Page - HawkeRise</title>
</head>
<body>

	<header th:insert="layout/navbar.html :: navbar1"></header>
	
	<!-- Page content -->
	<div class="w3-content" style="max-width: 2000px">

		<!-- Welcome content -->
		<div class="w3-display-container w3-center">
			<img src="/img/hawker.png" style="width: 100%; opacity: 0.6">
			<div class="w3-display-middle w3-container w3-text-black w3-padding-32 w3-hide-small">
				<h1>HawkeRise</h1>
				<p><b>Preserving our hawker culture</b></p>
			</div>
		</div>
	</div>

</body>
</html>
